<nav class="navbar navbar-expand-lg bg-danger">
    <div class="container-fluid d-flex">
        <%= link_to "Youtube Manager", root_path, :class => "nav-link navbar-brand" %>
    </div>

    <div class="container-fluid d-flex justify-content-end">
        <%= link_to "Accedi", login_path, :class => "btn btn-danger me-1" %>
        <%= link_to "Registrati", signin_path, :class => "btn btn-danger" %>
    </div>
</nav>